body {
  padding: 0;
  margin: 0;
  min-width: 980px;
}

/************ header part ************/

#header {
  height: 668px;
  background-color: #522A5C;
  width: 100%;
}

#header .logo {
  height: 50px;
  width: 300px;
  background: url('../design/logo.png');
  background-size: 300px 50px;
  position: absolute;
  bottom: 5px;
}

#header #nav {
  height: 88px;
  width: 980px;
  margin: 0 auto;
  position: relative;
  
}

#header .nav-bar {
  position: absolute;
  bottom: 5px;
  /* 注意定宽度，得到正确的定位 */
  width: 100%;
}

#header .nav-bar ul {
  margin: 0;
  list-style-type: none;
  float: right;
}

#header .nav-bar ul li {
  float: left;
  margin-left: 28px;
}

#header .nav-bar .nav-item {
  color: white;
  text-decoration: none;
  font-family: '宋体', serif;
  font-size: 18px;

}

#header #bg-image {
  height: 580px;
  width: 100%;
  background: url('../design/banner-bg.jpg');
  background-size: 100% 580px;
  position: relative;
}

#header .bg-word {
  width: 400px;
  height: 132px;
  background: -webkit-linear-gradient(rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.3) 75%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.3) 75%, rgba(255,255,255,0) 100%);
  background: linear-gradient(rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.3) 75%, rgba(255,255,255,0) 100%);
  position: absolute;
  bottom: 1px;
  right: 124px;
  padding: 6px;
}

#header .bg-word .bg-word-title {
  font-size: 18px;
  color: white;
  text-align: right;
}

#header .bg-word .bg-word-text {
  color: white;
}


/************ body part ************/

#body .body-top {
  height: 528px;
  background: #EEEEEE;
  padding-top: 10px;
  padding-bottom: 30px;
}

#body .body-top-container {
  width: 1082px;
  margin: 0 auto;
  overflow: hidden;
}

#body .body-item {
  width: 330px;
  float: left;
  padding: 12px;
  background: white;

  /* 中间三个白块，高度自适应 */
  margin: 0 10px -10000px 0;
  padding-bottom: 10000px;
}

#body .body-item.right {
  margin-right: 0;
}
#body .body-item-img {
  height: 200px;
  width: 330px;
}

#body .body-item-text {
  text-indent: 2em;
  line-height: 170%;
  padding: 0 13px;
  font-size: 14px;
  text-align: left;
}

#body .body-bottom {
  height: 574px;
  text-align: center;
}

#body .avatar {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  margin-top: -50px;
}

#body .introduction {
  text-indent: 2em;
  width: 650px;
  margin: 0 auto;
  text-align: left;
}

/************ footer part ************/

#footer {
  height: 34px;
  padding-top: 10px;
  background: black;
}

#footer .icon {
  width: 30px;
  height: 34px;
  margin: 0 auto;
  background: url('../design/icon-github.png');
}
